.form-group {
    margin-bottom: 1.25rem;
}

.form-label {
    display: block;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.form-control {
    width: 90%;
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    resize: none;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(13, 49, 148, 0.25);
}

.scrollable-section {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 1rem;
    margin-top: 1rem;
}

.question-container {
    margin-bottom: 1.25rem;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.title-field,
.question-field {
    height: 50px;
}

.description-field {
    height: 100px;
}

.option-field {
    width: 45%;
    height: 30px;
}

.add-question-button {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.add-question-button:hover {
    background-color: #0071b3;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #004c99;
}

.btn:disabled {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #e9ecef;
    cursor: not-allowed;
}
